openapi: 3.0.1
info:
  title: Deepnote Public Execute (v1) Execute (v1) Execute (v1) API
  description: Deepnote Public API v2 (preview) for running notebooks programmatically and managing projects, notebooks, and execution runs. Notebooks can be executed via POST /runs and their status polled via GET /runs/{runId}. Endpoints and schemas may change while the API is in preview. A legacy v1 execute endpoint is also documented for triggering a notebook's machine.
  termsOfService: https://deepnote.com/terms
  contact:
    name: Deepnote Support
    url: https://deepnote.com/docs
  version: '2.0'
servers:
- url: https://api.deepnote.com/v2
  description: Deepnote Public API v2 (preview)
- url: https://api.deepnote.com/v1
  description: Deepnote API v1 (legacy notebook execution trigger)
security:
- bearerAuth: []
tags:
- name: Execute (v1)
  description: Legacy endpoint to trigger execution of an existing notebook.
paths:
  /projects/{projectId}/notebooks/{notebookId}/execute:
    servers:
    - url: https://api.deepnote.com/v1
    post:
      operationId: executeNotebookV1
      tags:
      - Execute (v1)
      summary: Execute a notebook (legacy v1)
      description: Triggers execution of an existing notebook. If the project's machine is offline, this starts the machine. If the notebook is already running, triggering this endpoint has no effect.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: notebookId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Execution triggered
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Workspace API key created under Settings & members > Security > API keys, sent as Authorization: Bearer <token>.'
